<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <a class="navbar-brand page-scroll logo" href="/#page-top">
            <img alt="Gunpowder Digital Ltd | London & Kent Digital Agency"
                 src="../img/gunpowderdigital_logo/logo_white_transparent.png"/>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
                <a class="page-scroll" href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#team">Team</a>
            </li>
            <li>
                <a class="page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <h1>{{ page.intro | "Web Design London & Kent" }}</h1>
            </div>
            <div class="intro-heading">
                <h2>{{ page.heading | "Start today with a fast, high performance and easy to reach website" }}</h2>
            </div>
            {% if showTellUsMore %}
            <a href="#services" class="page-scroll btn btn-xl">Tell Us More</a>
            {% endif %}
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

