<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Our unique skill set from over 10 years in the world of digital, branding and marketing empower us to create incredible solutions to help transform organisations.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design & Development</h4>
                    <p class="text-muted">Design is much more than just placing a few images and links on a page. We encompass the full range of design principles, UX, UI along with making a web site look incredible.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">
                        Having a website that functions just as well on a mobile device is essential to the running of any successful business.
                        We pride ourselves on making sure your business works on mobile phones and tablets.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Search Engine Optimisation (SEO)</h4>
                    <p class="text-muted">A major factor in whether a website is successful or not is how well a customer can find you. One way of doing this is allowing a search to rank a site. We use a wealth or knowledge and experience to help a site perform well in search results.</p>
                </div>
            </div>
        </div>
    </section>
